@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Lato');

@keyframes fade {
    from {
        color: rgba(52, 52, 52, 0);
    }
    to {
        color: #343434;
    }
}

@keyframes color {
    from {
        color: linear-gradient()
    }
}

@keyframes fade-intro-container {
    from {
        border: 3px solid rgba(52, 52, 52, 0);
        background-color: rgba(228, 241, 249, 0);
        /*box-shadow: 0 0 5px 5px white;*/
    }

    to {

        border: 3px solid #343434;
        background-color: rgba(228, 241, 249, 0.8);
        /*box-shadow: 0 0 5px 5px #efefef;*/
    }
}

body {
    background-image: url("/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}


h1, h2, h3, h4, h5 {

    font-family: "Georgia", "Source Serif Pro", serif;
    font-weight: normal;
    margin: 0;
}


h1 {

    content: "";

    font-size: 3em;
    color: #343434;
}

#intro-caption {
    margin: 13px;
    font-size: 1.2em;


}

#intro-container * {
    animation-name: fade;
    animation-duration: 2s;

}

#intro-container {
    /*box-shadow: 0 0 5px 5px #efefef;*/

    animation-name: fade-intro-container;
    animation-duration: 2s;

    /*padding: 40px 70px;*/

    position: fixed;
    max-height: 100%;

    height: 30%;
    width: 30%;

    top: 20%;
    left: 10%;
}

.container {
    background-color: rgba(228, 241, 249, 0.8);
    border-radius: 7px;
    border: 3px solid #343434;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#story-container {
    min-height: 40%;
    width: 30%;
    top: 30%;
    right: 15%;
    position: fixed;

    align-items: center;
    justify-content: start;
    background-color: rgba(228, 241, 249, 1);
}

.large-story-container {

    background-color: rgba(228, 241, 249, 0.9);
    right: auto !important;
    width: 70%;
    position: relative !important;
    padding: 30px;

    justify-content: start;

}

.large-story-container > h1 {
    margin: 0.65em;
    font-size: 2em;
}
.large-story-container > p {
    margin-left: 2em;
    margin-right: 2em;
}

#story-container > h1 {
    margin: 13px;
    font-size: 2em;
}

.citation {
    color: #343434;
    position: absolute;

    padding: 4px 5px;
    border-radius: 3px;
    background-color: rgba(228, 241, 249, 0.8);
    border: 2px solid #343434;

   
}
a {
    color: #343434;
    transition: 0.2s;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;


    top: 10%;

    height: 100%;
    width: 100%;
   
}

.box > * {
    margin-top: 10px;
}

.box .nav {
    width: 100%;
    margin-top: 2em;
}

.box .nav > a:nth-child(1){
    float:left;
    margin-left: 2em;
    display: none;
}

.box .nav > a:nth-child(2){
    float: right;
    margin-right: 2em;
    display: none;
}

button {
    background-color: rgba(170, 170, 170, 0.5);
    border: 1px;

    color: #555;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    padding: 5px;
    border-radius: 3px;
    transition: 0.2s;


}

button:hover {
    cursor: pointer;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
  body {
      background-size: auto;
      background-position-x: right;
  }

  #intro-container {
      width: 60%;
      height: 40%;
      background-color: rgba(228, 241, 249, 0.9);
  }
  #nav-back {
      color: #343434;
      border-radius: 3px;


      top: 10px;
    

  }
  #nav-back a {
      color: #343434;
  }
}

#unsplash-citation {
    bottom: 10px;
    right: 10px;
}
